@import url(./variaveis.css);

/* Fundo com GIF */
/* body {
    background: url('../capa/assets/gif/Fundo.gif') no-repeat center center fixed;
    background-size: cover;
} */

/* Cabeçalho animado 
#header-capa {
    position: absolute;
    top: -88px;
    width: 100%;
    height: 88px;
    /* background-color: rgba(1, 28, 65, 0.8); 
    text-align: center;
    line-height: 88px;
    font-size: 24px;
    animation: slideDown 2s forwards;
}

/* Container do texto animado */
#text-container-capa {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    text-align: center;
}

.animated-text {
    color:#fff;
    width: 60%;
    position: relative;
    font-size: 5vw; /* Tamanho flexível para melhor responsividade */
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    animation: slideIn 2.5s forwards;
}

@keyframes slideIn {
    0% {
        left: -70%;
        opacity: 0;
    }
    100% {
        left: 0;
        transform: translateX(0%);
        opacity: 95%;
    }
}

/* Barra sob o texto animado */
#underline {
    width: 0;
    height: 4px;
    background-color: rgba(255, 138, 0, 1);
    margin: 5px auto;
    animation: expand 1s forwards 2s;
}

@keyframes expand {
    to {
        width: 50%;
    }
}

/* Segundo texto aparecendo após a barra */
#second-text {
    color:#fff;
    opacity: 0;
    position: relative;
    font-size: 3vw; /* Tamanho flexível para melhor responsividade */
    font-weight: 550;
    text-transform: uppercase;
    animation: slideDownunidade 2s forwards 2.5s;
}

@keyframes slideDownunidade {
    0% {
        top: -5%;
        opacity: 0;
    }
    100% {
        top: 0;
        transform: translateX(0%);
        opacity: 95%;
    }
}

/* Botão animado */
#animated-button {
    opacity: 0;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 2vw; /* Tamanho flexível para melhor responsividade */
    text-transform: uppercase;
    background-color: rgba(255, 138, 0, 1);
    border: 2px solid rgba(255, 138, 0, 1);
    border-radius: 13px;
    cursor: pointer;
    color: #fff;
    animation: fadeIn 2.5s forwards 2.8s;
}

#animated-button:hover {
    background-color: rgba(1, 28, 65, 1);
    border: 2px solid rgba(255, 138, 0, 1);
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#image-capaOverlay {
    display: flex;
    position: absolute;
    max-width:12.5%;
    width:100%;
    padding: 1rem;
    max-height:100%;
    height:100%;
    background-image: url('../assets/capaOverlay.png');
    background-position: center center;
    background-size: cover;
    filter: opacity(0.7);
    z-index: -1;
    /* background-color: red; */
    object-fit:fill;
    
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .animated-text {
        font-size: 7vw !important;
    }

    #second-text {
        font-size: 5vw !important;
    }

    #animated-button {
        font-size: 5vw !important;
    }
}

@media (max-width: 480px) {
    .animated-text {
        font-size: 7vw !important;
    }

    #second-text {
        font-size: 5vw !important;
    }

    #animated-button {
        font-size: 5vw !important;
    }

    
}