@import url(./variaveis.css);

.carrosel--container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: var(--fundo-carrosel);
    background-image: var(--imgem-fundo-carrosel);
    background-repeat: no-repeat;
    background-position: var(--imgem-fundo-carrosel-posicao-x-imagem) var(--imgem-fundo-carrosel-posicao-y-imagem);
    background-size: var(--imgem-fundo-tamanho-x-y-imagem);
}

.c-carousel__slides {
    display: flex;
    overflow: hidden;
    /* border-radius: 10px; */
    width: 100%;
    /* background: red; */
    height: auto;
    
}

.c-carousel__slide {
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
    justify-content: center;
    /* background-color: #f8f9fa; */
    text-align: center;
    font-size: 1.5rem;
    /*border: 1px solid #ddd;*/
    display: flex;
    justify-content: center;
    background: var(--fundo-carrosel);
    align-items: center;
    /* background-image: var(--imagem-de-fundo-slider);
    background-repeat: no-repeat;
    background-size:var(--tamanho-x-y-imagem);
    background-position:  var(--posicao-y-imagem) var(--posicao-x-imagem); */
    margin: 0.5rem;
    /* background-color: blueviolet; */
}

.glider-prev,
.glider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #007bff; */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.glider-prev {
    left: 10px;
}

.glider-next {
    right: 10px;
}

.glider-next>i {
    width: var(--largura-seta);
    height: var(--altura-seta);
    border-radius: 50rem;
    font-size: var(--tamanho-de-fonte-seta);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-de-fundo-seta);
    color: var(--cor-das-setas);
}

.glider-prev>i {
    width: var(--largura-seta);
    height: var(--altura-seta);
    font-size: var(--tamanho-de-fonte-seta);
    border-radius: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-de-fundo-seta);
    color: var(--cor-das-setas);
}

#dots {
    /* position: relative; */
    position: absolute;
    width: 100%;
    /* bottom: 12%; */
    top:93%;
    transform: translateY(0%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo-carrosel);
    /* background-color: blueviolet; */
    /* background: var(--fundo-carrosel); */
    border: none;
    color: rgb(27, 27, 27);
    gap: 0.5rem;
    cursor: pointer;
    z-index: 1;
    /* height: 4rem; */
    
}

.marca-da-agua{
    position: absolute;
    bottom:1%;
    background-color: rgba(255, 255, 255, 0);
    padding: 1rem;
    /* background: var(--fundo-carrosel); */
    background-image: var(--imagem-de-fundo-slider);
    align-items: center;
    background-repeat: no-repeat;
    background-size:calc(var(--tamanho-x-y-imagem) * 9) ;
    background-position:  var(--posicao-y-imagem) var(--posicao-x-imagem);
    margin: 0.5rem;
    z-index: 1;
    width: 10rem;
    
}