@import url(./variaveis.css);



.box-tools-inline{
    position: absolute;
    background-color:#ffffffd4;
    padding: 1rem;
    width: 90%;
    left: 5%;
    margin-top: 3.5rem;
    transform: translateX(-5%);
    z-index: calc(var(--posicionamento-menu-sumario) - 1);
    justify-content: center;
    gap: 3rem;
    display: none;
    
}

.box-tools-inline button{
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}


.box-tools-inline button:hover{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    padding: 0 0.2rem;
    background: #e9e9e9;
}

.box-tools-inline svg{
    stroke: #FF8A00;
}

#close_box{
    background: rgb(0, 0, 0);
    stroke: #FFFFFF;
}

@media screen and (max-width: 600px) {
    .box-tools-inline{
        flex-direction: column;
    }

    .box-tools-inline {
        margin-top: 30.5rem !important;

}
}