@import url(../css/toolbar.css);
@import url(../css/texto.css);
@import url(../css/menu_sidebar.css);
@import url(../css/annotation.css);
@import url(../css/capa.css);
@import url(../css/spinner.css);
@import url(../css/tools.css);


/* ------ Animações ------ */
@import url(../plugins/vizionnAnimation/attention.css);
@import url(../plugins/vizionnAnimation/bounce.css);
@import url(../plugins/vizionnAnimation/fade.css);
@import url(../plugins/vizionnAnimation/flip.css);
@import url(../plugins/vizionnAnimation/rotate.css);
@import url(../plugins/vizionnAnimation/slide.css);
@import url(../plugins/vizionnAnimation/zoom.css);
/* ------ Animações ------ */

*{
    margin:0;
    padding:0;
    box-sizing: border-box !important;
    font-family: var(--familia-da-font-paragrafo);

}

/* 
html{
    zoom: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */


body{
    width: 100vw !important;
    height: 100vh !important;
    position: relative;
    /* background-color: rgb(24, 86, 141); */
    /* overflow: hidden; */
}

img{
    user-select: none;
    -webkit-user-drag: none;
    -moz-window-dragging: none;
}


