@import url(../../css/variaveis.css);

.olcards,
.olcards * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.olcards {
  list-style: none;
  counter-reset: cardCount;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  --cardsGap: 1rem;
  gap: var(--cardsGap);
  padding-bottom: var(--cardsGap);
  width: 100%;
 
}

/* Estilos para desktop */
.olcards li {
  /* counter-increment: cardCount; */
  display: flex;
  color: white;
  --labelOffset: 1rem;
  --arrowClipSize: 1.5rem;
  transition: all 0.4s;
  /* margin-top: var(--labelOffset); */

}

.olcards li:hover{
  transform: translateY(-0.5rem);
}

.olcards li:hover .icon{
  background-color: white;
}


.olcards li .content {
  background-color: var(--cardColor);
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 1rem;
  border-radius: 1rem;
  gap: 0.5rem;
  /* background-color: red; */
}

.olcards li .icon {
  --w:10px;
  font-size: var(--font-para-paragrafos);
  border: 2px solid rgb(255, 255, 255);
  /* background-color: white; */
  width: var(--w);
  height: var(--w);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 100%;
  /* background-color: #9ddc86; */

}

.olcards li .content .text {
  font-size: var(--font-para-paragrafos);
}

.olcards--divisor {
  display: flex;
  gap: 0.5rem;

}

.olcards--box {
  /* background-color: rgb(0, 132, 255); */
  padding: 1rem;
  /* border-radius: 1rem; */
  /* color: white !important; */
}

.message-box {
  width: 100%;
  border-radius: 6px;
  margin: 20px auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.message-box--divisor{
  display: flex;
  align-items: center;
}
.message-box i {
  vertical-align: middle;
  padding: 8px;
}
.message-box i.exit-button {
  float: right;
  opacity: 0.4;
}
.message-box i.exit-button:hover {
  opacity: 0.8;
}

.message-text {
  text-align: left;
}

.message-box-info {
  background-color: #CDE8F6;
  border: #2697d1 2px solid;
  color: #447EAF;
}

.message-box-warn {
  background-color: #F8F4D5;
  border: #e9dd7e 2px solid;
  color: #96722E;
}

.message-box-error {
  background-color: #ECC8C5;
  border: #d37f78 2px solid;
  color: #B83C37;
}

.message-box-success {
  background-color: #DDF3D5;
  border: #9ddc86 2px solid;
  color: #597151;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .olcards li {
    flex-direction: column;
    align-items: flex-start;
  }

  .olcards li::before {
    margin-right: 0;
    margin-bottom: 0.5rem;
    transform: translateY(0);
  }

  .olcards li .icon {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .olcards li .content {
    padding: 1rem;
    text-align: center;
  }
}


